*{
  box-sizing: border-box;
  font-family: candara;
}

body{
  margin: 0;
}

h1{
  color: lightgray;
  text-align: center;
  font-size: 55px;
}

main{
  position: relative;
  height: 850px;
  overflow: auto;
  background: black;  /* fallback for old browsers */  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.jpg") repeat fixed;
  background-size: cover;
}

#nav{
  position: absolute;
  top: 47%;
}

#nav h2{
  text-align: center;
  font-size: 25px;
  color: lightgray;
  padding: 0px 15px;
}

#content{
  background-image: linear-gradient(to top, #12100E,#2B4162); 
  padding: 20px 10px;
  border: none;
  margin: 0px;
}

h2{
  color: gray;
}

#article1 h2{
  clear: right;
}

article p{
  font-size: 15px;
  text-align: justify;
  color: white;
} 

.images{
  float: right;
  width: 50%;
  color: white;
  padding-left: 10px;
}

.img{
  font-size: 14px;
  margin-bottom: 5%;
  text-align: center;
  border: 2px solid lightgray;
  padding: 2%;
}

.image{
  width: 100%;
}

.links {
  text-decoration: none;
  color: red;
  position: relative;
}

li{
  color: red;
  font-size: 17px;
}

.links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*.links:visited::after, .links:visited{
  color: green;
  background-color: green;
}*/

footer{
  background: lightgray;
  text-align: center;
  padding-top: 400px;
}

footer img{
  width: 25px;
}

footer p{
  color: gray;
  font-size: 12px;
}

iframe{
  border: 2px solid lightgray;
  width: 60%;
}

@media (max-width: 425px){
  main{
    height: 700px;
  }
}
  
@media (max-width: 360px){
  iframe{
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 361px) and (max-width: 425px){
  iframe{
    width: 100%;
    height: 230px;
  }
}

@media (min-width:426px) and (max-width: 540px){
  iframe{
    height: 250px;
    width: 85%;
  }
}

@media (min-width: 541px) and (max-width: 768px){
  iframe{
    height: 300px;
    width: 75%;
  }
  .images{
    width: 40%;
  }
}

@media (min-width:769px) and (max-width: 1024px){
  iframe{
    height: 350px;
  }
  .images{
    width: 33.3333%;
  }
}

@media (min-width: 769px){
  .images{
    width: 25%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  iframe{
    height: 400px;
  }
}

@media (min-width: 1280px){
  iframe{
    height: 450px;
  }
}