.heading{
    color: grey;
}

.text{
    font-family: calibri;
    font-size: 15px;
    text-align: justify;
    color: white;
}

.image{
    float: right;
    width: 175px;
    height: 160px;
    padding: 10px;
}

.HL{
    text-decoration: none;
    color: red;
}